<form action={{#if typeOfLink_is_edit}}"/{{typeOfLink}}?id={{id}}"{{else}}"/{{typeOfLink}}"{{/if}}method="post">
    <div class="input_container">
        <input type="text" placeholder={{placeholder}} name="data" class="textbox_add_or_ed" />
        <button type="submit" class={{buttonClass}}></button>
    </div>
</form>