<div>
    <div class="main-container__date">
        {{time}}
    </div>
    <div>
        {{>form typeOfLink = 'add' typeOfLink_is_edit = false placeholder = "Add" buttonClass = "input-container__add-button"}}
    </div>
    <div class="main-container__items-count">Количество элементов: {{list.length}}</div>
    {{#each this.list}}
    <div class="list-container">
        <div class="list-container__value">{{this.value}}</div>
        <div class="list-container__buttons-group"><a href="/edit?id={{id}}" class="__buttons-group__edit-button"></a>
            <a href="/delete?id={{id}}" class="__buttons-group__delete-button"></a></div>
    </div>
    {{/each}}
</div>